.inpFile{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    top: -63px;
    cursor: pointer;
}
.contBox{
    color: red;
    width: 100px;
    height: 80px;
    /* text-align: center; */
    border: 1px dashed #999;
}
.vector{
    margin-top: -100px;
    opacity: 30%;
}